li.col-md-4.mb-4
    .card
        img.card-img-top(alt="Card image cap" src="https://support.partech.com/wp-content/uploads/2023/11/PAR-Logo-NB-blue-65492e1d8e588.svg")
        .card-body
            h5.card-title #{model}
            p.card-text
                | Serial: #{serial}
                br
                | Peripherals: #{peripherals}
                br
                | Firmware Version: #{firmware}
                br
                | Warranty ends: #{warrantyDate}